html {
    text-align: center;
    font-family: 'Lucida Sans', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

h1 {
    background: gray;
    color: white;
    margin: 0;
    padding: 1rem 0;
}

#header {
    background-color: lightgray;
}

.header-item {
    display: inline-block;
}

table {
    text-align: left;
    border-collapse: collapse;
    margin: 1rem;
}


table input {
    border: 1px solid gray;
    text-align: right;
}

table tr:nth-of-type(3) {
    border-top: 1px solid black;
}

td {
    position: relative;
}

td label, span {
    font-size: 0.8rem;
}

td[colspan="3"] {
    text-align: center;
}

#number-of-cards {
    display: inline-block;
    position: absolute;
    right: 1rem;
    top: 0.2em;
}

#game-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 1rem 2rem;
}

.flip-card {
    margin: 0.3rem;
    position: relative;
    width: 5rem;
    height: 7rem;
    perspective: 50rem;
}

/*
.flip-card:hover .card {
    transform: rotateY(180deg) translateX(-8%);
}
*/

div.card {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    transition: 1s;
    transform-style: preserve-3d;
}

div.card .front, .back {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 0.3rem;
    border: 0.2rem solid darkgoldenrod;

    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    background-color: maroon;

    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 1px, 1px, 5px, 1px;
    backface-visibility: hidden;
}

div.card .back {
    background-image: url("img/cardback.svg");
}

div.card .front {
    transform: rotateY(180deg);
}